// probably only for binary trees
.tree {
  list-style: none;
  padding: 0;
  text-align: center;
  position: relative;

  li {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding: 10px 5px;

    // border around values
    span {
      display: inline-block;
      padding: 5px 10px;
      border: 1px solid white;
      border-radius: 5px;
      &.selected {
        background-color: blue;
      }
    }

    &:first-child {
      &::before,
      &::after {
        content: "";
        position: absolute;
        top: 0;
        width: 50%;
        height: 10px;
        border-top: 1px solid white;
        left: 50%;
      }
    }

    &:not(:first-child) {
      &::before,
      &::after {
        content: "";
        position: absolute;
        top: 0;
        width: 50%;
        height: 10px;
        border-top: 1px solid white;
        right: 50%;
      }
    }

    // No branching on root node
    &:only-child::before,
    &:only-child::after {
      display: none;
    }

    // Vertical child branch on left nodes
    &:first-child::before {
      border-left: 1px solid white;
    }

    // Vertical child branch on right nodes
    &:last-child::after {
      border-right: 1px solid white;
    }

    ul {
      list-style: none;
      display: flex;
      padding-top: 10px;
      position: relative;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 50%;
        width: 0;
        height: 10px;
        border-left: 1px solid white;
      }
    }
  }
}
